
/*************************************************** Disable_Horizontal_Tabs ***************************************************/
:root {
  --sidebar-min-width: 136px;
  --sidebar-visible-width: 162px;
  --uc-window-control-width: 898px; /* Space reserved for window controls */
  --uc-window-drag-space-width: 0px; /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  --uc-toolbar-height: 32px;

  --scrollbar-face-color: rgb(210,210,210); /* Firefox 63 compatibility */
  --scrollbar-track-color: rgb(46,54,69); /* Firefox 63 compatibility */
  --scrollbar-color: rgba(0,0,0,.4) rgba(140,140,140,0.1);
  --scrollbar-width: thin;
}
:root{
  --scrollbar-face-color: rgb(210,210,210); /* Firefox 63 compatibility */
  --scrollbar-track-color: rgb(46,54,69); /* Firefox 63 compatibility */
  --scrollbar-color: rgba(0,0,0,.4) rgba(140,140,140,0.1);
  --scrollbar-width: thin;
}

/* Scrollbar colors and width - applied globally */
:root{
  scrollbar-color: rgb(210,210,210) rgb(46,54,69);
  scrollbar-width: thin;
} 

/* CUSTOM CODE: Toolbar_color */
:root{
  --toolbar-bgcolor: rgb(210,210,210) rgb(46,54,69);
} 



/* Australian edition
#main-window {
transform:scaley(-1);
}
*/

#viewerContainer > #viewer > .page > .canvasWrapper > canvas {
    filter: grayscale(100%);
    filter: invert(100%);
}

#viewerContainer > #viewer > .page > .textLayer ::selection {
    /*background-color: #000000;*/  /* original */
	background-color: #FFFFFF;
}

#sidebar-header {
  overflow: hidden !important;
}

#tabbrowser-tabs {
  visibility: collapse !important;
}

#sidebar-box #sidebar-header {
  display: none !important;
}

#sidebar,
#sidebar-header {
  position: relative !important;
  min-width: var(--sidebar-min-width) !important;
  max-width: var(--sidebar-min-width) !important;
transition: .1s ease .1s;
  z-index:1;
}

#sidebar-box:hover :-moz-any(#sidebar,#sidebar-header) {
  background-color: var(--toolbar-bgcolor) !important;
  min-width: var(--sidebar-visible-width) !important;
  max-width: var(--sidebar-visible-width) !important;
  margin-right: calc((var(--sidebar-visible-width) - var(--sidebar-min-width)) * -1) !important;
  z-index:1;
  position: relative !important;
transition: .21s ease 3.20s;

}


#nav-bar::before,
#nav-bar::after{
  content: "";
  display: -moz-box;
  width: var(--uc-window-drag-space-width);
}

toolbar#nav-bar::after{ width: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-width,0px)) }

:root:not([uidensity="compact"]){--uc-toolbar-height: 38px}

#TabsToolbar{ visibility: collapse !important }

:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height));
}

#toolbar-menubar{
  min-height:unset !important;
  height:var(--uc-toolbar-height) !important;
  position: relative;
}
/*********************************************************************************************************************/


/********************************************** Navigation_bar_color *************************************************/
#nav-bar {
  background-color: #1f1f1f !important;
}

#PersonalToolbar {
  background-color: #1f1f1f!important;
}

#PersonalToolbar .toolbarbutton-1:not(-moz-window-inactive):hover,
#PersonalToolbar .bookmark-item:hover {
  background-color: #1f1f1f!important;	
}
/*********************************************************************************************************************/
/************************************************ Hover_text_color ***************************************************/
tooltip{-moz-appearance: none !important; background:#232323 !important; color: #ededed}
/*********************************************************************************************************************/
/******************************************* Remove_Search_with_Google ***********************************************/
[data-l10n-id="urlbar-result-action-search-w-engine"]:not(.urlbarView-dynamic-onboardTabToSearch-titleStrong),
.urlbarView-row[type="search"] .urlbarView-title-separator {
  display: none;
}
/*********************************************************************************************************************/
/******************************************* Remove_Padding_and_button_fix *************************************************/
#urlbar-container{ padding-block: 0px !important }
.titlebar-buttonbox-container{ -moz-box-align: start !important; }
/*********************************************************************************************************************/



