
/*************************************************** Disable_Horizontal_Tabs ***************************************************/
:root {
    --sidebar-min-width: 136px;
    --sidebar-visible-width: 162px;
    --uc-window-control-width: 898px; /* Space reserved for window controls */
    --uc-window-drag-space-width: 0px; /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
    --uc-toolbar-height: 32px;
  
    --scrollbar-width: thin;
  }
  :root{
    --scrollbar-width: thin;
  }
  
  /* Scrollbar colors and width - applied globally */
  :root{
    scrollbar-width: thin;
  } 
  
  /* Australian edition
  #main-window {
  transform:scaley(-1);
  }
  */
  
  #viewerContainer > #viewer > .page > .canvasWrapper > canvas {
      filter: grayscale(100%);
      filter: invert(100%);
  }
  
  #viewerContainer > #viewer > .page > .textLayer ::selection {
      /*background-color: #000000;*/  /* original */
      background-color: #FFFFFF;
  }
  
  #sidebar-header {
    overflow: hidden !important;
  }
  
  #tabbrowser-tabs {
    visibility: collapse !important;
  }
  
  #sidebar-box #sidebar-header {
    display: none !important;
  }
  
  #sidebar,
  #sidebar-header {
    position: relative !important;
    min-width: var(--sidebar-min-width) !important;
    max-width: var(--sidebar-min-width) !important;
  transition: .1s ease .1s;
    z-index:1;
  }
  
  #sidebar-box:hover :-moz-any(#sidebar,#sidebar-header) {
    min-width: var(--sidebar-visible-width) !important;
    max-width: var(--sidebar-visible-width) !important;
    margin-right: calc((var(--sidebar-visible-width) - var(--sidebar-min-width)) * -1) !important;
    z-index:1;
    position: relative !important;
  transition: .21s ease 3.20s;
  
  }
  
  
  #nav-bar::before,
  #nav-bar::after{
    content: "";
    display: -moz-box;
    width: var(--uc-window-drag-space-width);
  }
  
  toolbar#nav-bar::after{ width: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-width,0px)) }
  
  :root:not([uidensity="compact"]){--uc-toolbar-height: 38px}
  
  #TabsToolbar{ visibility: collapse !important }
  
  :root:not([inFullscreen]) #nav-bar{
    margin-top: calc(0px - var(--uc-toolbar-height));
  }
  
  #toolbar-menubar{
    min-height:unset !important;
    height:var(--uc-toolbar-height) !important;
    position: relative;
  }
  /*********************************************************************************************************************/
  
  /*********************************************************************************************************************/
  /************************************************ Hover_text_color ***************************************************/
  tooltip{-moz-appearance: none !important; background:#232323 !important; color: #ededed}
  /*********************************************************************************************************************/
  /******************************************* Remove_Search_with_Google ***********************************************/
  #urlbar[usertyping] .urlbarView-row:not([type]):first-child,
  #urlbar[usertyping] .urlbarView-row[type="search"]:first-child,
  .urlbarView-row[type="tabtosearch"] {
    display: none !important;
  }
  /*********************************************************************************************************************/
  /******************************************* Remove_Padding_and_button_fix *************************************************/
  #urlbar-container{ padding-block: 0px !important }
  .titlebar-buttonbox-container{ -moz-box-align: start !important; }
  /*********************************************************************************************************************/
  /*************************************** Remove 1 pixel sized black line *********************************************/
  #navigator-toolbox {
    border-bottom: none !important;
  }
  /*********************************************************************************************************************/
  /*************************************** Remove Right Click Menu Top Settings ****************************************/
  #context-navigation,#context-sep-navigation{ display: none !important }
  /*********************************************************************************************************************/
  /*************************************** Shrink toolbar by 1 pixel *********************************************/
  #navigator-toolbox{
    --toolbarbutton-inner-padding: 5px;
  }
  #urlbar-container{
    --urlbar-container-height: 25px !important;
    padding-block: 1px !important;
  }
  toolbarbutton.bookmark-item:not(.subviewbutton){
    margin: 0px !important;
    padding-block: 0 !important;
  }
  /*********************************************************************************************************************/
  /*************************************** Remove Bookmarks Star *******************************************************/
  #star-button-box {display: none !important;}
  /*********************************************************************************************************************/
